# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
notebooks/.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# Project specific
test_output/
output_folder/
clipped_assets/

# Environment
.env
.venv
env/
venv/
ENV/